html {
    font-family: "VT323", monospace;
    font-size: 25px;
    letter-spacing: 0.5px;
    min-height: 100vh;
    color: #255178;
    background-image: url(pics/bg.jpg);
    background-size: cover;
}

h1 {
    margin: 0 auto 10px auto;
    color: #255178;
    font-size: 50px;
}

p {
    margin: 0;
    padding: 0;
}

.app-message {
    height: 20px;
    margin: 10px auto 20px auto;
}

.app-container {
    width: 250px;
    height: 420px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border: #255178 2px solid;
    border-radius: 10px; 
    background-color: #8b9ca248;
}

.app-circle {
    position: relative;
    margin: 0 auto;
    margin-top: 75px;
    width: 200px;
    height: 200px;
} 
.circle-shape{
    pointer-events: none;
    border-radius: 50%;
}

.semi-circle {
    position: absolute;
     width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
}

.left-side {
    top: 0;
    left: 0;   
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
}

.right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #255178;
}

.circle-mask {
    border-color: #255178;
}

.app-counter-box {
    font-family: "Droid Sans Mono", monospace;
    font-size: 250%;
    position: relative;
    top: 50px;
    color: #255178d5;
}

button {
    font-family: "VT323", monospace;
    font-size: 100%;
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: #255178d5;
}

button:hover {
  color: #06394e;
}